<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>FingerPrint Management</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- site css -->
    <link rel="stylesheet" href="~/Content/site.min.css">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,800,700,400italic,600italic,700italic,800italic,300italic" rel="stylesheet" type="text/css">
    @RenderSection("head", false)
</head>
<body>
    <!--nav-->
    <nav role="navigation" class="navbar navbar-custom">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button data-target="#bs-content-row-navbar-collapse-5" data-toggle="collapse" class="navbar-toggle" type="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#" class="navbar-brand">FingerPrint Management Panel</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div id="bs-content-row-navbar-collapse-5" class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="@Url.Action("Index","Home")">Home</a></li>
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">@User.Identity.Name <b class="caret"></b></a>
                        <ul role="menu" class="dropdown-menu">

                            <li class="disabled"><a href="@Url.Action("LogOff", "Account")">Sign-out</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <!--header-->
    <div class="container-fluid">
        <!--documents-->
        <div class="row row-offcanvas row-offcanvas-left">
            <div class="col-xs-6 col-sm-3 sidebar-offcanvas" role="navigation">
                <ul class="list-group panel">
                    <li class="list-group-item"><i class="glyphicon glyphicon-align-justify"></i> <b>Quick Access</b></li>
                    @* <li class="list-group-item"><input type="text" class="form-control search-query" placeholder="Search Something"></li>*@
                    <li class="list-group-item"><a href="@Url.Action("Index","Panel")"><i class="glyphicon glyphicon-home"></i>Dashboard </a></li>
                    <li class="list-group-item"><a href="@Url.Action("AddUser","Panel")"><i class="glyphicon glyphicon-user"></i>Add User </a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-9 content">
                @RenderBody()
                <div id="globalLoadingModal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
                    <div class="loader">
                    </div>

                </div>
            </div><!-- content -->
        </div>

    </div>
    <!--footer-->
    <script type="text/javascript" src="~/Scripts/Site.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    @RenderSection("scripts", false)
</body>
</html>