@using FingerPrintDetectionModel
@using FingerPrintDetectionWeb.Models
@using Microsoft.AspNet.Identity.Owin
@model dynamic
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}
@functions{

    IEnumerable<PlanViewModel> GetPlanList()
    {
        var res = new List<PlanViewModel>();
        try
        {
            using (var context = ViewContext.HttpContext.GetOwinContext().Get<ApplicationDbContext>())
            {
                res.AddRange(from item in context.Plans
                             where !item.Deleted && item.Users.Count < item.MaxNumberOfUse
                             select new PlanViewModel
                             {
                                 Description = item.Description,
                                 Id = item.Id,
                                 Name = item.Name,
                                 RepeatNumber = item.RepeatNumber
                             });
            }
        }
        catch
        {
            // ignored
        }
        return res;
    }
}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header"></h1>
    </div>
</div>
<div class="row">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">
                <a href="javascript:void(0);" class="toggle-sidebar">
                    <span class="fa fa-angle-double-left" data-toggle="offcanvas" title="Maximize Panel"></span>
                </a> ایجاد کاربر منطقی
            </h3>
        </div>
        <div class="panel-body">
            <form role="form" id="addUserForm" enctype="multipart/form-data" data-url="@Url.Action("AddLogicalUser", "Panel")" method="post">
                <input type="hidden" name="Id" value="@(ViewBag.user != null ? ViewBag.user.Id : -1)"/>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 validation-summary-errors hidden" style="color: red;" data-valmsg-summary="true">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group required">
                            <label for="FirstName" class="control-label">نام</label>
                            <input type="text" class="form-control" id="FirstName" name="FirstName" placeholder="First Name" value="@((ViewBag.user != null) ? ViewBag.user.FirstName : "")">
                        </div>
                        <div class="form-group">
                            <label for="lastName" class="control-label">نام خانوادگی</label>
                            <input type="text" class="form-control" id="lastName" name="LastName" placeholder="Last Name" value="@((ViewBag.user != null) ? ViewBag.user.LastName : "")">
                        </div>
                        
                        <div class="form-group">
                            <label class="btn btn-default btn-file">
                                انتخاب فایل صدا <input type="file" accept="audio/mp3" id="soundFile" name="soundFile" style="display: none"/>
                            </label>
                            <div class="">
                                <audio id="player" controls="controls" style="max-height: 35px; max-width: 300px;">
                                    <source id="sourceMp3" src="" type="audio/mp3"/>
                                </audio>
                            </div>

                        </div>
                        <div class="form-group">
                            <label for="PlanId" class="control-label">انتخاب پلن</label>
                            <select id="PlanId" name="PlanId" class="selecter_3 form-control" required data-selecter-options='{"cover":"true"}'>
                                @foreach (var item in GetPlanList())
                                {
                                    <option value="@item.Id">@item.Name</option>
                                }
                            </select>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12">

                        <button type="submit" class="btn btn-success ">ایجاد کاربر</button>
                    </div>
                </div>

            </form>

        </div><!-- panel body -->
    </div>
</div>
@section scripts{
    <script src="~/Scripts/Views/Panel/AddLogicalUser.js"></script>
}
